
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* font-family: 'Arial', sans-serif; */
    font-family: 'VT323', monospace;
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 20px;
    width: 80%;
    height: 80vh;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }
  
  h1 {
    /* font-size: 3rem;
    margin-bottom: 2rem;
    color: #FFD700; */
    font-family: 'VT323', monospace;
    color: #33ff33;
    text-shadow: 0 0 4px #33ff33;
    font-size: 3rem; /* o el que ya tuvieras */
    margin-bottom: 2rem;
  }
  
  .scroll-container {
    /* height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%; */
    
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;    
  }
  
  .scroll-text {
    position: absolute;
    bottom: -100%;
    width: 100%;
    box-sizing: border-box;
    animation: scrollUp 20s linear infinite;
    padding: 0 2rem;
  }

  @keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.8; }
    100% { opacity: 1; }
  }

  @keyframes screenFlicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.95; }
  }

  .scroll-text p {
    text-shadow: 0 0 5px #33ff33;
    animation: flicker 1.5s infinite;
    font-size: 1.5rem; /* Puedes ajustar el tamaño aquí */
    line-height: 1.6;
  }
  
  @keyframes scrollUp {
    from {
      bottom: -100%;
    }
    to {
      bottom: 100%;
    }
  }
  
  .continuar-btn {
    background-color: #FFD700;
    color: black;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .continuar-btn:hover {
    background-color: #f4c300;
  }

  .scroll-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0px,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px,
      transparent 3px
    );
    pointer-events: none; /* Permite hacer clic a través */
    z-index: 2;
    animation: screenFlicker 0.3s infinite;
  }

  